*{
    padding:0 ;
    margin: 0;
    box-sizing: border-box;
   }
   
   html{
     width: 100%;
   }
   
   body{
     background-color: #393430;
   }
   
   section{
     display: flex;
     justify-content: center;
     align-items: center;
     min-height: 100vh;
     width: 100%;
   }
   
   .Logo{
     width: 125px;
     height: 75px;
     margin-left: 30px;
   }
   
   #Home{
     background-image: linear-gradient(rgba(0, 0, 0,0.05),
     rgba(0,0,0,0.35)), url(/Images//Homepage/Developer1.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed; 
   }
   
   #Second{
     color: whitesmoke;
     min-height: 75vh;
   }
   
   #Second .kodePhrase{
    margin-left: 12%;
   }
   
   #Third{
   background-image: linear-gradient(rgba(0, 0, 0,0.15),
   rgba(0,0,0,0.85)), url(/Images/HomePage/dev3.jpg);;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   }
   
   #Third .card, #Third .card-header{
     background: rgba(0,0,0,0.02);
     border: none;
     border-radius: none;
     text-decoration: none;
     background: transparent;
   }
   
   #Third a{
     text-decoration: none;
   }
   
   #Third a:hover{
     transition: 0.85s;
     scale: 110%;
   }
   
   #Fourth, #Fifth{
     background-color: #FFFF;
     color: #393430;
   }
   
   #Fourth .row, #Fifth .row{
     background: #fff;
   }
   
   #Fourth .card, #Fourth .list-group-item, #Fourth .card-text, #Fifth .card, #Fifth .list-group-item, #Fifth .card-text{
     color: #393430;
   }

   
   #Fourth .card-header{
     color: rgb(8, 8, 8);
     text-decoration: none;
   }
   #Fourth .bNone, #Fifth .bNone{
     border: none;
   }

   
   
   
   
   .gradient-custom-2 {
    background: #1e130c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #9a8478, #1e130c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #9a8478, #1e130c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}