.text{
    color: rgba(69,56,77,255);
    text-align: center;
}

.active{
    background-color: whitesmoke;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 0 4px #945464;
    opacity: 0.9;
    font-size: large;
}

/* hover navigation */
.hover1:hover{
    background-color: #302924;
    padding: 5px;
    border-radius: 10px;
    color: white;
    box-shadow: 0 0 4px #945464;
    opacity: 0.9;
    font-size: large;
    transition: 0.7s;
}

/* hover footer social media */
.hover2:hover{
    padding: 0px;
    border-radius: 30px;
    opacity: 0.9;
}

/* hover footer links*/
.hover3:hover{
    background-color: white;
    padding: 0px;
    border-radius: 13px;
    box-shadow: 0 0 10px #473d4d;
    opacity: 0.9;
}

.tfooter1{
    color: #44384c;
    width: 60px;
    height: 2px;
}

.tfooter2{
    background-color: #302924;
    text-decoration: none;
    font-size: 1.2vw;
    color: #302924;
}

/* footer text */
.ftext {
    font-size: small;
    color: #302924;
}

/* footer copyright */
.copyr {
    text-align: center;
}

.copyl {
    text-align: center;
}


@media only screen and (min-width: 360px) {
    .ftext {
        font-size: small;
    }

    .copyr {
        text-align: center;
        font-size: large;
    }

    .copyl {
        text-align: center;
        font-size: large;
    }

    .tfooter2{
        font-size: medium;
    }

}

@media only screen and (min-width: 768px) {
    .ftext {
        font-size: small;
    }

    .copyr {
        text-align: right;
        font-size: large;
    }

    .copyl {
        text-align: left;
        font-size: large;
    }

    .tfooter2{
        font-size: medium;
    }

}

@media only screen and (min-width: 1000px) {
    .ftext {
        font-size: medium;
    }

    .copyr {
        text-align: right;
        font-size: large;
    }

    .copyl {
        text-align: left;
        font-size: large;
    }

   
}