.text{
    color: rgba(69,56,77,255);
    text-align: center;
}

.logo {
    width: 15vw;
}

/* hover navigation */
.hover1:hover{
    background-color: #302924;
    padding: 5px;
    border-radius: 10px;
    color:white;
    box-shadow: 0 0 4px #945464;
    opacity: 0.9;
    font-size: large;
}

/* hover footer social media */
.hover2:hover{
    padding: 0px;
    border-radius: 30px;
    opacity: 0.9;
}

/* hover footer links*/
.hover3:hover{
    background-color: white;
    padding: 0px;
    border-radius: 13px;
    box-shadow: 0 0 10px #473d4d;
    opacity: 0.9;

    
}

.tfooter1{
    color: #44384c;
    width: 60px;
    height: 2px;
}

.tfooter2{
    background-color: #302924;
    text-decoration: none;
    font-size: 1.2vw;
}

/* footer text */
.ftext {
    font-size: small;
    color: #302924;
}

/* footer copyright */
.copyr {
    text-align: center;
}

.copyl {
    text-align: center;
}


@media only screen and (min-width: 768px) {
    .ftext {
        font-size: small;
    }

    .copyr {
        text-align: right;
    }

    .copyl {
        text-align: left;
    }

}

@media only screen and (min-width: 1000px) {
    .ftext {
        font-size: medium;
    }

    .copyr {
        text-align: right;
    }

    .copyl {
        text-align: left;
    }

   
}

body{
    background-color: #393430;
  }

#register a {
    color: whitesmoke;
}

i {
    position: absolute;
    right: 55px;
    transform: translateY(85%);
}

#error {
    color: red;
}

#success {
    margin-top: 10px;
    color: green;
    font-size: large;
}
#Home{
    background-image: linear-gradient(rgba(0, 0, 0,0.05),
    rgba(0,0,0,0.35)), url(/Images//Homepage/Developer1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
  }

.gradient-custom-2 {
    background: #1e130c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #9a8478, #1e130c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #9a8478, #1e130c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
    
    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }