*{
  padding:0 ;
  margin: 0;
  box-sizing: border-box;
  color: whitesmoke;
 }
 
 html{
   width: 100%;
 }
 
 body{
   background-color: #393430;
 }
 
 section{
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   width: 100%;
 }
 
 .Logo{
   width: 125px;
   height: 75px;
   margin-left: 30px;
 }

#Landing{
  background-image: linear-gradient(rgba(255, 255, 255,0.25),
  rgba(0,0,0,0.85)), url(/Images/Services/devcollabs.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; font-size: 80px;
}

#Services .card, #Fourth .list-group-item, #Services .card-text, #Perks .card, #Perks .list-group-item, #Perks .card-text{
  color: #393430;
}

#Service .card-header, #Perks .card-header{
  border-radius: none;
  background-color: transparent;
  text-decoration: none;
}
