*{
 padding:0 ;
 margin: 0;
 box-sizing: border-box;
 color: whitesmoke;
}



body{
  background-color: #393430;
}


.Logo{
  width: 125px;
  height: 75px;
  margin-left: 30px;
}

#Home{
  background-image: linear-gradient(rgba(255, 255, 255,0.25),
  rgba(0,0,0,0.75)), url(/Images//Homepage/bgproducts.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; font-size: 80px;
}

/* Query */
.section{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}

#Second{
  color: whitesmoke;
  padding-left: 50px;
  padding-bottom: 10vh;
  padding-top: 15vh;
}

.clickHere a{
  font-size:4vw;
  color: lightgreen;
  display: flex;
  justify-content: end;
}

.clickHere a:hover{
  color: whitesmoke;
  cursor: pointer;
}
.display-2{
  font-size: 5vw;
  margin-top: 10vh;
}

.logo{
  width: 15vw;
}

/* Tablet */
@media only screen and (min-width: 768px) {

.section{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

#Second{
  color: whitesmoke;
  min-height: 100vh;
  padding-left: 50px;
  padding-bottom: 50px;
}

.clickHere a{
  font-size:2vw;
  color: lightgreen;
  display: flex;
  justify-content: end;
}
.display-2{
  font-size: 5vw;
  margin-top: 10vh;
}
.logo{
  width: 15vw;
}


}

/* big screen */
@media only screen and (min-width: 1000px) {
.section{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  width: 100%;
}

#Second{
  color: whitesmoke;
  min-height: 1vh;
  padding-left: 50px;
  padding-bottom: 1vh;
  padding-top: 20vh;
}
.display-2{
  font-size: 4vw;
  margin-top: 1vh;
}

.clickHere a{
  font-size:2vw;
  color: lightgreen;
  display: flex;
  justify-content: end;
}

.logo{
  width: 9vw;
}


}